/* src/app/dashboard/dashboard.component.scss */
.dashboard-container {
    padding: 24px;
    background-color: #f9fafb;
    min-height: calc(100vh - 64px); /* Adjust based on your header height */
  }
  
  h6 {
    // margin: 0;
    // margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
  
  .loading-message {
    font-size: 1.25rem;
    color: #6b7280;
    text-align: center;
    margin-top: 50px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border: 1px solid #e5e7eb;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  .card-title {
    font-size: 2.5rem;
    // font-weight: 500;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    // color: #6b7280;
    margin-bottom: 2rem;
    align-items: center;
  }
  
  .card-value {
    font-size: 2.5rem;
    // font-weight: 700;
    color: #1f2937;
  }