// .user {
//     height: 8vh;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// h6 {
//     margin: 0;
//     margin-left: 5px;
//     font-size: 1.25rem;
// }

// .buttons {
//     display: flex; 
//     justify-content: flex-end;
// }

// .button {
//     color: #f3f3f3;
//     margin: 5px 0 0 5px;
// }  

// .icon-group {
//     display: flex; 
//     align-items: center; 
//     padding: 0 2.5px; 
// }

// .left-group {
//     border-right: 1px solid #ccc; 
// }

// .middle-group {
//     border-right: 1px solid #ccc; 
// }

// .button {
//     color:  rgb(31, 49, 71);
// }    

// .ag-theme-quartz {
//     --ag-background-color: rgb(243, 243, 243);
//     --ag-header-background-color: rgb(31, 49, 71);
//     --ag-row-gover-color: rgb(225, 225, 225);  
//     --ag-header-foreground-color:  rgb(243, 243, 243);
//     --ag-icon-font-color-menu: rgb(243, 243, 243);
//     --ag-icon-font-color-asc: rgb(243, 243, 243);
//     --ag-icon-font-color-filter: rgb(243, 243, 243);
// }

// .table {
//     height: 83vh;
// }

// ::ng-deep .mat-mdc-dialog-inner-container {
//     width: 200vw !important;
//     height: 30vh !important;
// }

// ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
//     max-width: 70vw !important;
// }







.main-container {
    width: 98%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-y: auto;
}

.user {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h6 {
    margin: 0;
    margin-left: 5px;
    font-size: 1.25rem;
}

.buttons {
    display: flex; 
    justify-content: flex-end;
}

.button {
    color: #f3f3f3;
    margin: 5px 0 0 5px;
}  

.icon-group {
    display: flex; 
    align-items: center; 
    padding: 0 2.5px; 
}

.left-group {
    border-right: 1px solid #ccc; 
}

.middle-group {
    border-right: 1px solid #ccc; 
}

.button {
    color:  rgb(31, 49, 71);
}    

.ag-theme-quartz {
    --ag-background-color: rgb(243, 243, 243);
    --ag-header-background-color: rgb(31, 49, 71);
    --ag-row-gover-color: rgb(243, 243, 243);  
    --ag-header-foreground-color:  rgb(243, 243, 243);
    --ag-icon-font-color-menu: rgb(243, 243, 243);
    --ag-icon-font-color-asc: rgb(243, 243, 243);
    --ag-icon-font-color-filter: rgb(243, 243, 243);
}

.table {
    height: 55vh;
}

::ng-deep .mat-mdc-dialog-inner-container {
    width: 200vw !important;
    height: 30vh !important;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 70vw !important;
}

.half-page-container .table-container {
    flex: 1; /* Both containers take up an equal amount of space */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // min-height: 50vh; /* Minimum height to prevent shrinking too much */
    // max-height: 80vh;
}

.half-page-container .map-container {
    flex: 1; /* Both containers take up an equal amount of space */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 60vh;
}

.table-container {
    // height: 50%;
}

.map-container {
    border-top: none;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    height: 75vh;
}

.splitter-handle {
    height: 10px;
    background-color: #ccc;
    cursor: ns-resize; /* North-South resize cursor */
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    transition: background-color 0.2s ease;
}

.splitter-handle:hover {
    background-color: #999;
}

.map {
    width: 100%;
    height: 100%

}